<div
  id="analysis-navigation-controls"
  class="flex flex-row mx-auto my-10 px-5 max-w-md text-gray-800 text-center text-sm font-md font-opensans justify-center align-center"
>
  <a
    href="summary"
    class="px-4 transition ease-in-out hover:scale-105 hover:-translate-y-1 hover:text-secondary"
  >
    Summary
  </a>
  <a
    href="bias"
    class="px-4 transition ease-in-out hover:scale-105 hover:-translate-y-1 hover:text-secondary"
  >
    Bias
  </a>
  <a
    href="analysis"
    class="px-4 transition ease-in-out hover:scale-105 hover:-translate-y-1 hover:text-secondary"
  >
    Accuracy
  </a>
  <a
    href="tone"
    class="px-4 transition ease-in-out hover:scale-105 hover:-translate-y-1 hover:text-secondary"
  >
    Tone
  </a>
</div>
