<div>
  <div
    class="fixed bottom-0 w-full lg:w-[400px] lg:rounded-full bg-primary h-[70px] left-1/2 -translate-x-1/2 z-30"
  >
    <a
      href="/home.html"
      id="analyze"
      class="absolute text-white font-extrabold rounded-full p-2 w-[75px] h-[75px] right-1/2 -translate-x-24 text-center hover:bg-white hover:text-primary group"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-text-scan-2 inline-block group-hover:stroke-primary"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
        <path d="M4 16v2a2 2 0 0 0 2 2h2" />
        <path d="M16 4h2a2 2 0 0 1 2 2v2" />
        <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
        <path d="M8 12h8" />
        <path d="M8 9h6" />
        <path d="M8 15h4" />
      </svg>
      <span class="">Analyze</span>
    </a>
    <a
      href="/history.html"
      id="history"
      class="absolute text-white font-extrabold rounded-full p-2 w-[75px] h-[75px] right-1/2 translate-x-1/2 text-center hover:bg-white hover:text-primary group"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-history inline-block group-hover:stroke-primary"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 8l0 4l2 2" />
        <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
      </svg>
      <p class="inline-block">History</p>
    </a>
    <a
      href="/saved.html"
      id="favorites"
      class="absolute text-white font-extrabold rounded-full p-2 w-[75px] h-[75px] left-1/2 translate-x-24 text-center hover:bg-white hover:text-primary group"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-heart inline-block group-hover:stroke-primary"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
      </svg>
      <span class="object-center">Saved</span>
    </a>
  </div>
  <div
    class="fixed group end-1/2 translate-x-[165px] bottom-20 lg:right-6 lg:left-none lg:bottom-6 lg:translate-x-0"
  >
    <button
      type="button"
      class="shadow-md rounded-full w-14 h-14 bg-primary peer group focus:bg-white"
    >
      <div class="grid justify-items-center gap-1.5">
        <span
          class="h-1 w-8 rounded-full bg-white group-focus:bg-primary group-focus:rotate-45 group-focus:translate-y-2.5 transition"
        ></span>
        <span
          class="h-1 w-8 rounded-full bg-white group-focus:bg-primary group-focus:scale-x-0 transition"
        ></span>
        <span
          class="h-1 w-8 rounded-full bg-white group-focus:bg-primary group-focus:-rotate-45 group-focus:-translate-y-2.5 transition"
        ></span>
      </div>
      <!-- end of grabbed code -->
    </button>

    <a
      href="/profile.html"
      id="profile"
      class="block absolute text-center text-white font-extrabold -z-20 peer-focus:z-10 invisible peer-focus:visible -bottom-[15px] -left-[0px] rounded-full p-2 peer-focus:-translate-x-[105px] peer-focus:-translate-y-[6px] w-[75px] h-[75px] transition-all delay-150 group/profile lg:hover:bg-white lg:hover:text-primary"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-user inline-block lg:group-hover/profile:stroke-primary transition delay-150"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
      </svg>
      <span class="object-center">Profile</span>
    </a>

    <a
      href="/learn.html"
      id="learn-more"
      class="absolute block text-center text-white font-extrabold -z-20 peer-focus:z-10 invisible peer-focus:visible -bottom-[25px] -left-[1px] rounded-full p-2 peer-focus:-translate-x-[74px] peer-focus:-translate-y-[80px] w-[75px] h-[75px] transition-all delay-150 group/learn lg:hover:bg-white lg:hover:text-primary"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-school inline-block lg:group-hover/learn:stroke-primary transition delay-150"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
      </svg>
      <span class="object-center">Learn</span>
    </a>

    <a
      href="/index.html"
      id="logout"
      class="absolute block text-center text-secondary font-extrabold -z-20 peer-focus:z-10 invisible peer-focus:visible -bottom-[10px] -left-[10px] rounded-full p-2 peer-focus:-translate-x-[0px] peer-focus:-translate-y-[94px] w-[75px] h-[75px] transition-all delay-150 group/logout lg:hover:bg-secondary lg:hover:text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-logout-2 inline-block lg:group-hover/logout:stroke-white stroke-secondary transition delay-150"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
        <path d="M15 12h-12l3 -3" />
        <path d="M6 15l-3 -3" />
      </svg>
      <span class="">Logout</span>
    </a>

    <div
      class="invisible peer-focus:visible peer-focus:scale-[5] absolute top-0 -left-0 bg-primary rounded-full w-14 h-14 transition-all -z-10 delay-150"
    ></div>

    <button
      type="button"
      class="hidden absolute top-0 left-0 rounded-full w-14 h-14 peer-focus:block"
    ></button>
  </div>
</div>
