# The path to the Firebase Admin SDK service account key file
FIREBASE_SERVICE_ACCOUNT=/path/to/firebase-adminsdk/service-account.json

# The bucket to store article content in
ARTICLES_BUCKET=some-bucket-name
