node_modules/

# Ignore lockfiles
pnpm-lock.yaml
pdm.lock

# Unformattable
.husky/
.eslintignore
.prettierignore
.gcloudignore
.gitignore
.env.*
.env
.npmrc
*.svg
firestore.rules

# Handled by ruff
__pycache__/
*.py


# Ignore Favicon
frontend/images/favicon/*