rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // All users can read and write to any collection/document except for "users"
    match /{document=**} {
      allow read, write: if !('users' in resource.path.split('/'));
    }
    
    // Authenticated users can access only their own documents in "users" collection
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
